<ion-header>

  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Lokkenisms</ion-title>
    <ion-buttons end>
      <button ion-button (click)="openModal($event)">Add</button>
    </ion-buttons>
  </ion-navbar>

</ion-header>


<ion-content>
  <ion-toolbar>
    <ion-searchbar [(ngModel)]="filterText"></ion-searchbar>
  </ion-toolbar>

  <div class="spinner-container">
    <ion-spinner *ngIf="loading"></ion-spinner>
  </div>

  <div class="year" *ngFor="let year of filteredItems(years)">

    <h1>{{year.year}}</h1>

    <blockquote class="bluejeans" *ngFor="let lokkenism of year.lokkenisms">
      <div class="quote">{{lokkenism.quote}}</div>
      <div class="author" *ngIf="lokkenism.author">{{lokkenism.author}}</div>
      <div class="note" *ngIf="lokkenism.note">{{lokkenism.note}}</div>
    </blockquote>
  </div>
</ion-content>
